.nav-header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(243, 243, 243);
  background-color: #f7f5f5;
  height: 15vh;
}
.nav-content {
  display: flex;
  align-items: center;

  width: 90%;
  max-width: 1110px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-bar-large-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1110px;
}
.shop {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 30px;
  padding-left: 5px;
}
